@font-face { font-family: 'Open Sans'; src: url('fonts/OpenSans-Regular.ttf'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans'; src: url('fonts/OpenSans-Italic.ttf'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Open Sans'; src: url('fonts/OpenSans-Bold.ttf'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Lato'; src: url('fonts/Lato-Regular.ttf'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Lato'; src: url('fonts/Lato-Italic.ttf'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Lato'; src: url('fonts/Lato-Bold.ttf'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Nunito'; src: url('fonts/Nunito-Regular.ttf'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Nunito'; src: url('fonts/Nunito-Bold.ttf'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'KFGQPC Uthman Taha Naskh'; src: url('fonts/UthmanTN1 Ver10.otf'); font-weight: normal; font-style: normal; }
