body {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.clear {
  clear: both;
}
.align-center {
  text-align: center;
}
#main > #intro .spotlight .image {
  border-radius: 0;
  border: none;
  margin-left: 2em;
}
@media screen and (max-width: 980px) {
  #main > #intro .spotlight .image {
    margin-left: 0;
  }
}
#main > #intro .spotlight .image img {
  width: 370px;
  border-radius: 0;
  border: none;
}
#main > #intro .actions {
  text-align: center;
  margin-left: -50px;
  margin-right: -50px;
}
#main > #intro .actions div {
  display: inline-block;
}
#main > #intro .actions div a {
  background-color: #5f4f93;
  font-weight: 400;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.12);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
#main > #intro .actions div a.in-progress {
  cursor: not-allowed;
}
#main > #intro .actions div a:not(.in-progress):hover {
  opacity: 0.8;
}
#main > #preview {
  padding: 5em 0 0;
}
@media screen and (max-width: 980px) {
  #main > #preview {
    padding-top: 4em;
  }
}
@media screen and (max-width: 1280px) {
  #main > #preview {
    padding-top: 4em;
  }
}
#main > #preview ul {
  list-style: none;
  padding-left: 0;
}
#main > #preview ul li {
  padding-left: 0;
}
#main > #preview ul li:last-child {
  margin-right: 0;
}
#main > #preview .sy-box {
  position: relative;
}
#main > #preview .sy-box .sy-caption-wrap {
  display: none;
}
#main > #preview .sy-box .sy-pager {
  position: absolute;
  bottom: -15px;
  z-index: 1000;
  padding: 15px;
}
#main > #preview .sy-box .sy-pager li {
  width: 8px;
  height: 8px;
  margin: 0 10px 0 0;
  transition: transform 0.1s ease-in-out;
}
#main > #preview .sy-box .sy-pager li:hover {
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}
#main > #preview .sy-box .sy-pager li.sy-active a {
  background-color: #08744e;
}
#main > #preview .sy-box .sy-pager li a {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}
#main > #location-time .spotlight .image {
  border-radius: 0;
  border: none;
  margin: 0;
}
#main > #location-time .spotlight .image img {
  border-radius: 0;
  width: 400px;
}
#main > #todo-list .spotlight .image {
  border-radius: 0;
  border: none;
  margin-right: 2em;
  margin-left: 0;
}
@media screen and (max-width: 980px) {
  #main > #location-time .spotlight {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #main > #location-time .spotlight .content {
    margin-bottom: 2em;
  }
  #main > #location-time .spotlight .image img {
    width: 100%;
  }
  #main > #todo-list .spotlight .image {
    margin-right: 0;
  }
}
#main > #todo-list .spotlight .image img {
  width: 370px;
  border-radius: 12px;
  border: none;
}
#main > #quotes .wise-word {
  font-style: italic;
  font-size: 23px;
  line-height: 1.5em;
  padding: 30px 40px;
  background-color: #f7f7f7;
  text-align: right;
}
#main > #contribution .actions li:first-child a {
  margin-right: 10px;
}
#footer .left {
  width: calc(63%);
}
#footer .right {
  width: calc(28%);
}
#footer dl.alt dd {
  margin-bottom: 0.3em;
}
@media screen and (max-width: 980px) {
  #footer > * {
    margin: auto 0;
    text-align: center;
    width: 100% !important;
  }
  #footer > * dt {
    text-align: left;
  }
  #footer > * dd {
    text-align: right;
  }
  #footer .copyright {
    text-align: center;
  }
}
#github-button-container {
  position: fixed;
  top: 10px;
  right: 30px;
  padding: 10px;
  z-index: 99999;
}
