@font-face { font-family: 'Open Sans'; src: url('OpenSans-Regular.ttf'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans'; src: url('OpenSans-Italic.ttf'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Open Sans'; src: url('OpenSans-Bold.ttf'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Lato'; src: url('Lato-Regular.ttf'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Lato'; src: url('Lato-Italic.ttf'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Lato'; src: url('Lato-Bold.ttf'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Nunito'; src: url('Nunito-Regular.ttf'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Nunito'; src: url('Nunito-Bold.ttf'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'KFGQPC Uthman Taha Naskh'; src: url('UthmanTN1 Ver10.otf'); font-weight: normal; font-style: normal; }
